*{
    margin: 0px;
    padding: 0px
}
.white_text{
    color:white;
}

a:hover{
    color:yellow;
    font-size: 18px;
    text-decoration:wavy;
}

.img_container{
    width:50%;
    }

    p{
        text-align:center;
    }
    p2{
        text-align:left;
    }
     
    .blue_text{color:blue;
    }

    .common{
        text-align:center;
        position: static;

    }

    h2{
        text-align: center;
    }

    .navigation2 {
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        text-align:right;
        background-color:rgb(91, 97, 100);
        border: 5px solid black;
        border-bottom: 10px solid white;
    }
    .navigation {
        height: 90px;
        text-align:center;
        background-color:rgb(110, 203, 246);
        border-bottom: 3px solid black;
    }

.tableauPlaceholder{
    width:40%;
    text-align: center;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    display:block;
}


.footer{
    background-color:rgb(110, 203, 246) ;
    text-align: center;
    width: 100vw;
    height: 150px;
    border-top: 3px solid black;
}

.nav_div{
    height:15px;
    border: 3px solid;
    border-radius: 4px;
    padding:4px;
    margin: 10px;
    width :20vw;
    float:right;
    margin-right: 5px;
    margin-top:5px;
}

.nav_link:hover {
    font-size: 12px;
}

li{
    margin-right:100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

